* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    0deg,
    rgba(29, 36, 66, 1) 0%,
    rgba(81, 92, 139, 1) 100%
  );
  background-attachment: fixed;
  color: white;
  height: 100%;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-size: 20px;
  /* TODO try padding here and design players using grid */
}

p {
  font-weight: 300;
  margin-block-start: 0;
  margin-block-end: 15px;
}

h3 {
  margin-block-start: 0;
  margin-block-end: 15px;
}

.playerContainer,
.gameControls {
  /* max-width: 500px; */
  padding: 15px;
  background: rgb(76, 88, 141);
  background: linear-gradient(
    180deg,
    rgba(76, 88, 141, 1) 0%,
    rgba(51, 59, 104, 1) 80%
  );
  border-top: 1px solid #57649c;
  border-radius: 30px;
  box-shadow: 5px 10px 18px #2d355b;
}

.playerWrapper {
  display: flex;
  justify-content: space-around;
}

.gameControls {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 30px auto;
  width: calc(100% - 60px);
}

.playerContainer {
  max-width: calc(50% - 55px);
  min-width: calc(50% - 55px);
}

#newGame {
  cursor: pointer;
  font-size: 20px;
  color: white;
  font-weight: 300;
  margin: 0;
  padding: 7px 15px;
  border-radius: 20px;
  border: none;
  background: rgb(92, 106, 170);
  position: absolute;
  top: 10px;
  right: 10px;
}

#pointsToWin {
  position: absolute;
  top: 10px;
  right: 150px;
  border-radius: 20px;
  width: 55px;
  text-align: center;
  border: none;
  padding: 9px 5px 4px;
}

#pointsLabel {
  position: absolute;
  top: 20px;
  right: 220px;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media screen and (max-width: 1250px) {
  .top {
    margin-top: 70px;
  }
}
@media screen and (max-width: 800px) {
  .playerContainer {
    min-width: calc(50% - 20px);
  }

  .gameControls {
    width: calc(100% - 20px);
  }
}

.active {
  background: rgb(83, 111, 235);
  background: linear-gradient(
    351deg,
    rgba(83, 111, 235, 1) 35%,
    rgba(115, 208, 253, 1) 100%
  );
}
