body {
  background: linear-gradient(
    0deg,
    rgba(29, 36, 66, 1) 0%,
    rgba(81, 92, 139, 1) 100%
  );
  color: white;
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

.playerContainer,
.gameControls {
  margin: 0 30px;
  padding: 15px;
  background: rgb(76, 88, 141);
  background: linear-gradient(
    180deg,
    rgba(76, 88, 141, 1) 0%,
    rgba(51, 59, 104, 1) 100%
  );
  border-top: 1px solid #57649c;
  border-radius: 30px;
  box-shadow: 5px 10px 18px #2d355b;
}

.playerWrapper {
  display: flex;

  justify-content: space-around;
}

.gameControls {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 30px;
}

.playerContainer {
  width: 40vw;
}
