body {
  background: linear-gradient(
    0deg,
    rgba(29, 36, 66, 1) 0%,
    rgba(81, 92, 139, 1) 100%
  );
  color: white;
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-size: 20px;
}

p {
  font-weight: 300;
}

.playerContainer,
.gameControls {
  max-width: 500px;
  margin: 0 30px;
  padding: 15px;
  background: rgb(76, 88, 141);
  background: linear-gradient(
    180deg,
    rgba(76, 88, 141, 1) 0%,
    rgba(51, 59, 104, 1) 80%
  );
  border-top: 1px solid #57649c;
  border-radius: 30px;
  box-shadow: 5px 10px 18px #2d355b;
}

.playerWrapper {
  display: flex;
  justify-content: space-around;
}

.gameControls {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 30px auto;
  max-width: 500px;
}

.playerContainer {
  width: 40vw;
}

#newGame {
  cursor: pointer;
  font-size: 20px;
  color: white;
  font-weight: 300;
  padding: 7px 15px;
  border-radius: 20px;
  border: none;
  margin: 5px;
  background: rgb(92, 106, 170);
  position: absolute;
  top: 10px;
  right: 10px;
}
