@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;700&display=swap");

.diceContainer {
  display: flex;
}

button {
  font-size: 20px;
  color: white;
  color: #f3a697;
  font-weight: 300;
  padding: 7px 15px;
  border-radius: 20px;
  border: none;
  margin: 5px;
  background: rgba(76, 88, 141, 1);
  border: 1px solid #57649c;
  font-family: "Josefin Sans", sans-serif;
}

button:hover {
  filter: brightness(110%);
}

.userMessage {
  color: #f7e179;
  font-weight: 400;
  letter-spacing: 1px;
}
