.diceContainer {
  display: flex;
}

button {
  font-size: 20px;
  color: white;
  font-weight: 300;
  padding: 7px 15px;
  border-radius: 20px;
  border: none;
  margin: 5px;
  background: rgba(76, 88, 141, 1);
  border: 1px solid #57649c;
}

button:hover {
  filter: brightness(110%);
}
