@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;700&display=swap");

.diceContainer {
  display: flex;
}

button {
  cursor: pointer;
  font-size: 20px;
  color: white;
  font-weight: 300;
  padding: 7px 15px;
  border-radius: 20px;
  border: none;
  margin: 5px;
  background: rgba(76, 88, 141, 1);
}

button:hover {
  filter: brightness(110%);
}
button:hover:disabled {
  cursor: unset;
  filter: brightness(100%);
}

.userMessage {
  color: #5ed9ff;
  text-shadow: 5px 5px 5px rgb(34, 39, 70);
  font-weight: 400;
  letter-spacing: 1px;
}
